@use '../../../styles/variables' as *;

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 5px 8px;
  border-radius: 32px;
  font-family: $font-family-sans;
  font-weight: 400;
  white-space: nowrap;

  &--sm {
    padding: 3px 6px;
    font-size: 12px;
  }

  &--md {
    padding: 5px 8px;
    font-size: 14px;
  }

  &--primary {
    background-color: $primary;
    color: white;
  }

  &--secondary {
    background-color: $bg-secondary;
    color: $text-secondary;
  }

  &--dark {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
  }
}